@import 'variables';

.default-btn {
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.default-btn {
  padding: 5px 25px;
  background: $dark-blue-grey;

  &:hover,
  &:focus {
    background: darken($dark-blue-grey, 10%);
  }

  &.disabled {
    background: $dark-blue-grey;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background: $dark-blue-grey;
    }
  }
}
